*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo{
  text-align: center;
  text-decoration: underline;
  margin-top: 50px;
  margin-right: 45px;
}

.contenedor-formulario{
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 300px;
  margin-bottom: 50px;
}

.inputs-datos{
  margin-bottom: 25px;
}

.subtitulos-formulario{
  color: #3a76bd;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 5px;
}

.ingreso-datos{
  width: 320%;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #3a76bd;
  border-radius: 15px;
}

.contenedor-Bot-Ag{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 150%;
}

.boton-agregar{
  display: flex;
  justify-content: center;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.user-contenedor{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 24%;
}

.card-user{
  display: flex;
  flex-direction: row;
  width: 60%;
  border: 2px solid #3a76bd;
  padding: 25px;
}

.foto-usuario{
  width: 125px;
  height: 125px;
  border: 1px solid black;
  margin-right: 35px;
}

.texto-usuario{
  margin-bottom: 10px;
}

.contenedor-boton{
  display: flex;
  align-items: center;
  margin-left: 75px;
}

.boton-eliminar{
  background-color: #f42e16;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}